*{
    box-sizing:border-box;
    overflow: hidden;
    font-family: '標楷體';
}

.main{
    display: flex;
    width: 1024px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 12px;
    margin: 0 auto;

    
    
}body>*:not(.aside,.section),aside>*,
section>*{
    border: 1px solid lightgray;
}

/* .top,.footer,.menu,.update,.marquee,.content{ 
     border:1px solid lightgray; 
} */

.top{
    flex-basis: 1000px;
    height: 65px;
}

.aside{
    display: flex;
    flex-direction: column;
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
    /* height: 683px; */
}

.menu{
    flex-basis: calc(100% - 25px);
    /* flex-basis:658px; */
}

.menu-header{
    font-weight: 500;
    font-size: 24px;
    color: #ff00ff;
    text-decoration: underline #000000;
    margin: 20px auto;
    
}
.menu>a{
    display: block;
    margin: 10px auto;
    text-decoration: none;
    width: 200px;
    height: 35px;
    background: url("../images/menu1.png") no-repeat;
    padding-top: 10px;
    font-size: 16px;
    color: #000000;
}
#menuBtn{
    text-decoration: underline;
}

.menu>a:hover{
background: url("../images/menu2.png") no-repeat;
}

.update{
    flex-basis: 25px;
    color: #000000;
    font-size: 16px;
    text-align: center;
}


.section{
    display: flex;
    flex-direction: column;
    flex-basis: calc(1000px - 215px);
    /* flex-basis:770px; */
}

.marquee{
    flex-basis: 29px;
    /* font-family: "標楷體"; */
    font-size: 24px;
    color: #0000ff;
}
marquee{
    width: 770px;
    height: 29px;
}

iframe{
    width: 100%;
    height: 100%;
}
.content{
    flex-basis: calc(100% - 29px);
    /* flex-basis:654px; */
}

.footer{
    flex-basis: 1000px;
    height: 20px;
}